body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside "
    "footer footer aside" 
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

nav li{
    list-style-type: none;
    text-align:center;
    font-size: 1.5em;
    border-style: solid;
}

nav a{
    text-decoration:none;
    width: 10%;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header a{
    text-decoration: none;
}

body{
    background-image: url('space.jpg');
}

body a{
    color: red;
}

#startsida main div{
    text-align: center;
}

#startsida main div img{
    width: 50%;
}

h1{
    text-align:center;
}

h2{
    margin-top: 80px;
}

#jorden img{
    width:800px;
    margin-top: 150px;
}

#jorden div{
    text-align: center;
    
}
