body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 50px auto 50px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer" 
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

nav li{
    list-style-type: none;
    text-align:center;
    font-size: 1.5em;
    border-style: solid;
    border-color: red;
}

nav a{
    text-decoration:none;
    width: 10%;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header a{
    text-decoration: none;
}

body{
    background-image: url('space.jpg');
}

body a{
    color: yellow;
}

#startsida div{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#startsida main div img{
    width: 50%;
}

h1{
    text-align:center;
    margin: auto 0;
}

h2{
    text-align: center;
    color: yellow;
    margin: auto 0;
}

#neptunus img{
    margin-top: 10%;
    margin-left: 35%;
}

#jorden img{
    width:800px;
    margin-top: 150px;
}

#jorden div{
    text-align: center;
    
}

#jupiter div{
    text-align: center;

}

#jupiter img{
    width: 500px;
    margin-top: 6%;
}

#uranus div{
    text-align: center;
}

#uranus img{
    width: 600px;
}

#venus div{
    text-align: center;
}

#venus img{
    width: 800px;
}