body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 50px auto 50px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside "
    "footer footer aside" 
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

nav{
    margin-top: 30px;
    grid-area: nav;
    padding-top: 16px;
}

nav li{
    list-style-type: none;
    text-align:center;
    font-size: 1.5em;
    border-style: solid;
}

nav a{
    text-decoration:none;
    width: 10%;

}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2;
}

header a{
    text-decoration: none;
}

#startsida img{
    margin-left: 70%;
    margin-top: 10%;
    width: 650px;
}

h1{
    text-align:center;
}

h2{
    margin-top: 80px;
}

#jorden img{
    margin-top: 30%;
    width: 500px;
    
}